body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    font-family: "JetBrains Mono", monospace;
    h1 {
        color: slateblue;
        font-size: 3.5rem;
        margin: 0;
    }

    input:not(:last-child) {
        width: 21%;
        height: 6%;
        padding: 0 10px;
        font-family: inherit;
        border: solid 1px slateblue;
        font-size: 1.1rem;
    }

    input:last-child {
        width: 22.2%;
        height: 2.8rem;
        font-size: 1.2rem;
        font-family: inherit;
        cursor: pointer;
        background-color: #d2d1d1;
        border: solid 1px slateblue;
    }

    .pass-reset-and-signup-btn {
        width: 22%;
        display: flex;
        justify-content: center;
        gap: 7rem;
    }

    .pass-reset, .signup {
        width: 100%;
        text-align: center;
    }

    input.pass-not-same {
        border: solid 2px red;
    }

    .pass-not-same::-webkit-input-placeholder {
        color: red;
    }
}


@media only screen and (max-width: 600px) {
    form {

        input:not(:last-child) {
            width: 80%;
            height: 6%;
            padding: 0 10px;
            font-family: inherit;
            border: solid 1px slateblue;
            font-size: 1.1rem;
        }
    
        input:last-child {
            width: 85%;
            height: 2.5rem;
            font-size: 1.2rem;
            font-family: inherit;
            cursor: pointer;
            background-color: #d2d1d1;
        }

        .pass-reset-and-signup-btn {
            width: 85%;
            display: grid;
            justify-content: center;
            place-items: center;
            grid-auto-flow: row;
            row-gap: .5rem;
        }
    
        .pass-reset, .signup {
            text-align: center;
        }
    }
}

.error-field {
    position: absolute;
    bottom: 18%;
    color: #da0f0f;
    font-size: .95em;

    p {
        text-align: center;
        margin: auto;
    }
}